.awesome-icons {
    display: flex;
    justify-content: space-around;    
    width: 100%;
    margin: 0 auto;
}
/*-----текст под иконками----*/
.awesome-main {
    display: flex;
    justify-content: space-around;    
    margin: 0 auto;
}
.awesome-main--text {
    margin: 0 0 58px;    
}

.awesome-main--title {
    text-align: center;
    font-family: Open sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin: 0 0 40px 0;
}
.awesome-main--title {
    width: 369px;
    height: 100px;
    margin: 0 auto;
}
.awesome--description {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    text-align: center;
}