.awesome-icons {
    display: flex;
    justify-content: space-around;    
    width: 100%;
    margin: 0 auto;
}
/*-----текст под иконками----*/
.awesome-main {
    display: flex;
    justify-content: space-around;    
    margin: 0 auto;
}
.awesome-main--text {
    display: flex;
    flex-direction: column;
    margin: 0 0 58px;
    align-items: center;
}
.awesome-main--text > img {
    max-width: 92px;
    max-height: 92px;
    margin-bottom: 20px;
}

.awesome-main--title {
    text-align: center;
    font-family: Open sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin: 0 0 40px 0;
}
.awesome-main--title {
    max-width: 369px;
    max-height: 100px;
    margin: 0 auto 40px;
}
.awesome--description {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    text-align: center;
}
@media (max-width: 1024px) {
    .awesome-main--text {
        margin: 0 0 68px;    
        padding-right: 20px;
    }
    .awesome-main--text:last-child {  
        padding-right: 0;
    }    
    .awesome-main--title {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 40px 0;
    }
    .awesome-main--title {
        max-width: 318px;
        max-height: 64px;
    }
    .awesome--description {
        font-size: 14px;
        line-height: 16px;
    }
    .awesome-icons img {
        width: 79.55px;
        height: 79.55px;
    }
}
@media (max-width: 768px) {
    .awesome-icons {
        display: flex;
        justify-content: space-around;    
        width: 100%;
        margin: 0 auto;
    }
    /*-----текст под иконками----*/
    .awesome-main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .awesome-main--text {
        margin: 0 0 58px;    
    }
    
    .awesome-main--title {
        font-size: 18px;
        line-height: 24px;
        max-width: 288px;
        max-height: 80px;
        margin: 0 auto;
    }
    .awesome--description {
        font-size: 14px;
        line-height: 16px;
    }
}